$blue:    #007bff !default;

$primary: #008ae6;
$primary-2: #33adff;
$secondary: #666666;
$link-color: $blue;

.primary-2 {
  background-color: $primary-2;
  color: white;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
