$blue:    #007bff !default;

$primary: #008ae6;
$primary-2: #33adff;
$secondary: #666666;
$secondary-2: #333333;
$link-color: $blue;
$grey-background: rgb(230, 230, 230);

.primary-2 {
  background-color: $primary-2;
  color: white;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
