/*
TODO REMEMBER TO CHECK IF ANY CODE NEEDS PREFIX!
*/




$blue:    #007bff !default;
$white: #ecf0f1;
$dark: #222f3e;

$primary: #222f3e;
$primary-2: #0099ff;
$secondary: #666666;
$secondary-2: #333333;
$grey-background: rgb(230, 230, 230);
$warning: #e74c3c;


/*For links*/
$link-color:#222f3e;
$link-color-hover:none;
$link-color-focus:none;
$link-color-active:none;

/*Backgrounds*/
$light-background: rgba(0,0,0,0.1);
$button-bg-1: #222f3e;
$button-bg-hover: #576574;

@import "./main.scss";
