.m-1 {
  margin: 0.1em;
}
.m-2 {
  margin: 0.2em;
}
.my-1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.my-2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.primary-2 {
  background-color: $primary-2 !important;
  color: white !important;
}

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: $primary;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  transition: 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a,
.clickable {
  color: $link-color;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.clickable {
  margin-bottom: 1%;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
  border-left: 0.1em solid $dark;
  padding-left: 0.2em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  border: none;
  font-size: 1.5em;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: none;
  border: 1px solid $dark;
  border-radius: 0;
  padding: 0.3em;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.5%;
  resize: none;
}

select {
  text-align: center;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}

.iconButton,
.linkButton,
input[type="submit"],
button {
  display: block;
  text-align: center;
  color: $white;
  font-weight: 300;
  background: $dark;
  white-space: nowrap;
}

.iconButton:disabled,
.linkButton:disabled,
input[type="submit"]:disabled,
button:disabled,
button[disabled] {
  color: #ecf0f1;
  background: $grey;
  cursor: auto;
  &:hover{
    color: $white;
    background: $grey;
    color: #ecf0f1;
    cursor: auto;
  }
}

.iconButton {
  display: inline-block;
  padding: 0.5em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  margin-right: 0.2em;
}

.iconButton path{
  color: $white;
}

.linkButton {
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.linkButton path{
  color: $white;
}

button:hover,
.linkButton:hover,
.iconButton:hover,
.iconButton:hover path {
  color: $primary;
  cursor: pointer;
  background: $secondary;
}

footer,
nav.main {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 0.8em;
  background: $light-background;
  flex: 0 1 5%;
}

nav.main{
  //background: #bdc3c7;
  //background: #45aaf2;
  margin-bottom: 2em;
}

nav.main img {
  height: 4.5em;
  &:hover{
    transform: scale(1.03)
  }
}

.loginout {
  .linkButton {
    margin-left: 0.1em;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  width: 100%;
  font-size: 3vw;
  font-weight: 300;
  margin-bottom: 1em;
  line-height: 3vw;
  padding: 0.4em;
  background: $lighter-background;
  background: $beige2;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login-form,
.registration-form {
  width: 80%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-form button,
.registration-form button,
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  height: 3.5em;
}

.notification {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  background: $warning;

  .dismiss path {
    &:hover {
      cursor: pointer;
      color: $secondary;
    }
  }

  .notification-text {
    flex: 1;
    color: $white;
    text-align: center;
  }
}

.website-item {
  height: 3.5em;
  line-height: 3.5em;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: 0 4px 5px -2px $beige;
  &:active {
    background: rgba(211, 211, 211, 1);
  }
}

.website-item-date {
  padding: 0 0.5em;
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
  order: 2;
}

.website-item-url {
  width: 95%;
  padding: 0 0.5em;
  border-left: 1px solid $dark;
  font-size: 1.8em;
  font-weight: 300;
  order: 1;
  flex: 1 1 auto;
  overflow: hidden;
  margin-right: 0.1em;
}

button.nostyle {
  background: none;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline;
}

button.inline {
  display: inline-block;
}

.small {
  font-size: 0.8em;
  margin-top: 0.2em;
}

.big {
  font-size: 1.2em;
  margin-top: 0.2em;
}

.blockNote {
  background: $light-background;
  margin-bottom: 1em;
  padding: 0.2em;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.blockNoteClose {
  font-size: 3em;
  min-height: 100%;
  background: $dark;
  color: $white;
  margin-right: 0.2em;
  padding: 0.2em;
}

.blockNoteInfo {
  padding: 0.5em 0;
  button {
    padding: 0.5em;
  }
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  align-items: flex-end;
}

.comment-textarea {
  padding: 0;
  flex: 1;
  font-size: 2em;
  border: none;
  border-bottom: 1px solid $dark;
  resize: none;
  overflow: hidden;
  height: 1.2em;
  transition: height 0s;
}

.comment-textarea-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
}

.comment-form button {
  width: 5em;
  height: 3em;
  margin-left: 0.5em;
}

.comment-form .cancel-button {
  color: $dark;
  background-color: $light-1;
  &:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }
}

.sorter {
  margin-bottom: 1em;
}

.comment {
  margin-bottom: 1em;
  background: $beige;
  box-shadow: 0 4px 5px -2px rgba(211, 211, 211, 0.5);
  border-radius: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.comment-score {
  width: 10%;
  margin-right: 1em;
  font-size: 3em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.comment-info {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.comment-date {
  font-size: 0.8em;
}

.comment-reply {
  width: 10%;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.showReplies,
.hideReplies {
  display: block;
  background: $beige;
  box-shadow: 0 4px 5px -2px rgba(211, 211, 211, 0.5);
  border-radius: 0.5em;
  padding: 0.5em;
  &:hover {
    cursor: pointer;
    color: $dark;
    background: rgba(211, 211, 211, 1);
  }
}

.thumbs-up:hover,
.thumbs-down:hover {
  color: $secondary;
  cursor: pointer;
}

.commenter {
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}

.comment-body {
  width: 65%;
  margin-right: 2%;
  border-bottom: 1px solid $light-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-rating {
  margin-top: 0.2em;
}

.vote-box {
  margin: 0.1em;

  .vote {
    margin: 0.1em;
    &:hover {
      cursor: pointer;
    }
  }
}

.comment-replies {
  margin-left: 12%;
}

.videoInterface {
  width: 100%;
  background: $beige;
  padding: 1em;
  margin-bottom: 3em;
}

.videoControlPanel{
  width: 100%;
  background: $beige;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.videoSizeControl{
  margin-right: 0.2em;
}

.auto-resizable-iframe {
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0;
}

.auto-resizable-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cc-message {
  color: $white;
  font-weight: 300;
}

.cc-link {
  font-weight: 600;
  text-decoration: none !important;
}
