// normalize
* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  color: $primary;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
  transition: 0.2s ease-in-out;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a,
.clickable {
  color: $link-color;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: $secondary;
  }
}

.clickable {
  margin-bottom: 1%;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0.5em 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  border: none;
  font-size: 1.5em;
}

// end of normalize

.small-spacing {
  margin: 0.2em;
}
.spacing {
  margin: 0.5em;
}
.spacing-x {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.spacing-y {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.box {
  background: $beige;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding: 2em;
  margin: 2em 0;
}

.border {
  border-left: 0.1em solid $dark;
  padding-left: 0.2em;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  background: none;
  border: 1px solid $dark;
  border-radius: 0;
  padding: 0.3em;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.5%;
  resize: none;
}

select {
  text-align: center;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}

// end of normalize

.m-1 {
  margin: 0.1em;
}
.m-2 {
  margin: 0.2em;
}
.my-1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.my-2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.primary-2 {
  background-color: $primary-2 !important;
  color: white !important;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.iconButton,
.linkButton,
input[type="submit"],
button {
  display: block;
  text-align: center;
  color: $white;
  font-weight: 300;
  background: $dark;
  white-space: nowrap;
}

.iconButton:disabled,
.linkButton:disabled,
input[type="submit"]:disabled,
button:disabled,
button[disabled] {
  color: #ecf0f1;
  background: $grey;
  cursor: auto;
  &:hover{
    color: $white;
    background: $grey;
    color: #ecf0f1;
    cursor: auto;
  }
}

.iconButton {
  display: inline-block;
  padding: 0.5em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  margin-right: 0.2em;
}

.iconButton path{
  color: $white;
}

.linkButton {
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.linkButton path{
  color: $white;
}

button:hover,
.linkButton:hover,
.iconButton:hover,
.iconButton:hover path {
  color: $primary;
  cursor: pointer;
  background: $secondary;
}

footer.main,
nav.main {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  font-size: 0.8em;
  background: $light-background;
  flex: 0 1 5%;
}

nav.main{
  border-bottom: 0.5px solid $light-background;
  margin-bottom: 3em;
}

nav.main img {
  height: 4.5em;
  &:hover{
    transform: scale(1.03)
  }
}

.loginout {
  .linkButton {
    margin-left: 0.1em;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search {
  width: 100%;
  font-size: 3vw;
  font-weight: 300;
  margin-bottom: 1em;
  line-height: 3vw;
  padding: 0.4em;
  background: $lighter-background;
  background: $beige2;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login-form,
.registration-form {
  width: 80%;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-form button,
.registration-form button,
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  height: 3.5em;
}


button.nostyle {
  background: none;
  padding: 0;
  margin: 0;
}

.inline {
  display: inline;
}

button.inline {
  display: inline-block;
}

.small {
  font-size: 0.8em;
  margin-top: 0.2em;
}

.big {
  font-size: 1.2em;
  margin-top: 0.2em;
}

.inlineField {
  font-size: inherit !important;
  font-weight: inherit !important;
  padding: 0.5em !important;
  border: none !important;
  text-align: right !important;
  width: 100% !important;
  border-radius: 0.5em !important;
}
