@media (max-width: $lg) {
  h1{
    font-size: 2em;
  }

  .search {
    font-size: 2.5em;
  }

  .comment-form input[type="text"] {
    font-size: 1.5em;
  }

  .comment-info {
    width: 30%;
  }

  footer{
    flex-direction: column;
  }
}

@media (max-width: $md) {
  .wrapper {
    width: 80%;
  }

  .website-item-url{
    font-size: 1.5em;
  }

  .comment-reply{
    margin-left: 0.5em;
  }

  .search {
    font-size: 2em;
  }
}

@media (max-width: $sm) {
  .comment-textarea {
    font-size: 1.5em;
  }

  nav.main .logo img{
    max-height: 40px;
    height:100%;
  }

  .wrapper {
    width: 90%;
  }

  .comment-form input[type="text"] {
    font-size: 1em;
  }

  .comment-reply{
    font-size: 1.5em;
  }

  .comment-score{
    font-size: 2em;
  }

  .loginout button,
  .linkButton{
    width: 5em;
  }

  .login-form,
  .registration-form{
    width: 100%;
  }

}
