@media (max-width: $lg) {
  .search {
    font-size: 2.5em;
  }

  .comment-form input[type="text"] {
    font-size: 1.5em;
  }

  .comment-info {
    width: 30%;
  }

  footer{
    flex-direction: column;
  }
}

@media (max-width: $md) {
  .wrapper {
    width: 90%;
  }

  .website-item-url{
    font-size: 1.2em;
  }

  .comment-reply{
    margin-left: 0.5em;
  }

  .search {
    font-size: 2em;
  }

  h1{
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: $sm) {
  .comment-textarea {
    font-size: 1.5em;
  }

  nav.main img {
    max-height: 3.5em;
  }

  .wrapper {
    width: 100%;
    padding:0 1em;
  }

  .comment-form input[type="text"] {
    font-size: 1em;
  }

  .comment-reply{
    font-size: 1.5em;
  }

  .comment-score{
    font-size: 2em;
  }

  .loginout button,
  .linkButton{
    width: 5em;
  }

  .login-form,
  .registration-form{
    width: 100%;
  }

  .account-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .account-value,
  .account-value input{
    text-align: left !important;
  }

  .account-value input[type="text"]:disabled,
  .account-value input[type="email"]:disabled,
  .account-value input[type="password"]:disabled {
    margin: 0 !important;
    padding: 0 !important;
  }

}
